{%extends "base.html"%}
{% block title %}Home{%endblock%}
{%block content%}
<h1 align = "center">Current Schedule</h1>
<br/>
<table class="table">
    <thead class="thead-dark">   
      <tr>
        <th scope="col">Course Name</th>
        <th scope="col">Credits</th>
        <th scope="col">Expected GPA</th>
      </tr>
    </thead>
    <tbody>
    
    </tbody>
  </table>
</br>
<form method="POST">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select Course
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {%for v in jsonCourses%}
        <a class="dropdown-item" name="Name" id="Name">{{v}}</a>
      {%endfor%}
    </div>
  </div>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Course</button>
    </div>
</form>
</br>
<h1 align = "center">Courses Taken</h1>
<br/>
<table class="table">
    <thead class="thead-dark">   
      <tr>
        <th scope="col">Course Name</th>
        <th scope="col">Credits</th>
        <th scope="col">GPA Earned</th>
        <th scope="col">Term</th>
      </tr>
    </thead>
    <tbody>
    
    </tbody>
  </table>
</br>
{%endblock%}
